@import "tailwindcss";

/* Hide scrollbar for all browsers */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.rbc-toolbar-label + .rbc-btn-group {
  display: none; /* hides built-in view buttons */
}